<!doctype html>
<html lang="en">
<head>
    <title>Password Rest Request</title>
</head>
<body>
    <h3>Password Rest Request</h3>
    <p>hi <b>{{name}}</b></p>
    <p>
        It looks like you need a little help with your password. We're on it
    </p>
    <p>If this was you, Please reset you password by clicking on
        <a href="{{link}}"> Reset Password</a>
    </p>
    <p>If you didn't request for this, simply ignore. Nothing will change</p>
    <p>Be aware that this link is only valid for the next 15 minutes</p>
</body>
</html>